<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul
			class="page-sidebar-menu  page-header-fixed "
			data-keep-expanded="false"
			data-auto-scroll="true"
			data-slide-speed="200"
			style="padding-top: 20px"
		>
			<li class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Inventory</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start active open">
						<a href="category.php" class="nav-link ">
							<span class="title">Category</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="products.php" class="nav-link ">
							<span class="title">Products</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="unit.php" class="nav-link ">
							<span class="title">Unit</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="receive.php" class="nav-link ">
							<span class="title">Purchase/Receive</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="distribution.php" class="nav-link ">
							<span class="title">Distribution</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="loss.php" class="nav-link ">
							<span class="title">Loss/Destroy/Expired</span>
						</a>
					</li>
					<li class="nav-item start active open">
						<a href="stock.php" class="nav-link ">
							<span class="title">Stock</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Reports</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="inventory_reports.php" class="nav-link">
							<span class="title">Inventory Reports</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
