<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul
			class="page-sidebar-menu  page-header-fixed "
			data-keep-expanded="false"
			data-auto-scroll="true"
			data-slide-speed="200"
			style="padding-top: 20px"
		>
			<li id="gov_acct" class="nav-item">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">সরকারী হিসাব</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item">
						<a href="gov_manage_account.php"
							class="nav-link">
							ব্যাংক হিসাব বিবরণী
						</a>
					</li>
					<li class="nav-item">
						<a href="gov_cash_receive.php"
							class="nav-link">
							অর্থ প্রাপ্তি
						</a>
					</li>
					<li class="nav-item">
						<a href="gov_cash_return.php"
							class="nav-link">
							অর্থ ফেরত
						</a>
					</li>
					<!-- <li class="nav-item">
						<a href="gov_cash_distribute.php"
							class="nav-link">
							Cash Distribute
						</a>
					</li> -->
					<li class="nav-item">
						<a href="gov_expense.php"
							class="nav-link">
							ব্যয়ের হিসাব
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">প্রতিবেদন</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="Javascript:void(0);" class="nav-link">
							<span class="title">Accounting Reports</span>
							<span class="selected"></span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
