/* here you can put your own css to customize and override the theme */
.page-header.navbar .page-logo {
	width: 400px;
	color:#fff;
	margin-top:10px;
	font-size: 25px;
}

.topbar-cpp {
	color: #FFF;
}
.topbar-cpp:hover {
	text-decoration: none;
	color: #fff;
}

.py-2 {
	padding-right: 25px;
	padding-left: 25px;
}
.welcome {
	text-align: center;
	margin: 200px auto;
	font-weight: 700;
}
