<head>
	<meta charset="utf-8" />
	<title>Metronic Admin Theme #1 | Admin Dashboard</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta
		content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports"
		name="description"
	/>
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<!-- <link
		href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
		rel="stylesheet"
		type="text/css"
	/> -->
	<link
		href="../assets/global/plugins/font-awesome/css/font-awesome.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="../assets/global/plugins/bootstrap/css/bootstrap.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<!-- <link
		href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<link
		href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<!-- <link
		href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<!-- <link
		href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<!-- <link
		href="../assets/global/plugins/morris/morris.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<!-- <link
		href="../assets/global/plugins/fullcalendar/fullcalendar.min.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<!-- <link
		href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css"
		rel="stylesheet"
		type="text/css"
	/> -->
	<link
		href="../assets/global/plugins/datatables/datatables.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css"
		rel="stylesheet"
		type="text/css"
	/>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN THEME GLOBAL STYLES -->
	<link
		href="../assets/global/css/components.min.css"
		rel="stylesheet"
		id="style_components"
		type="text/css"
	/>
	<link
		href="../assets/global/css/plugins.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<!-- END THEME GLOBAL STYLES -->
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link
		href="../assets/layouts/layout/css/layout.min.css"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="../assets/layouts/layout/css/themes/darkblue.min.css"
		rel="stylesheet"
		type="text/css"
		id="style_color"
	/>
	<link
		href="../assets/custom.css"
		rel="stylesheet"
		type="text/css"
	/>
	<!-- END THEME LAYOUT STYLES -->
	<link rel="shortcut icon" href="../assets/favicon.ico" />

</head>
