<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul
			class="page-sidebar-menu  page-header-fixed "
			data-keep-expanded="false"
			data-auto-scroll="true"
			data-slide-speed="200"
			style="padding-top: 20px"
		>
			<li id="main" class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">হিসাবরক্ষণ</span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="head.php" class="nav-link ">
							<span class="title">কোড-হেড</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="subhead.php" class="nav-link ">
							<span class="title">কোড-সাবহেড</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="person.php" class="nav-link ">
							<span class="title">ব্যক্তি</span>
						</a>
					</li>
					<li id="gov_acct" class="nav-item">
						<a href="javascript:;" class="nav-link nav-toggle">
							<span class="title">সরকারী হিসাব</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li class="nav-item">
								<a href="gov_manage_account.php"
									class="nav-link">
									ব্যাংক হিসাব বিবরণী
								</a>
							</li>
							<li class="nav-item">
								<a href="gov_cash_receive.php"
									class="nav-link">
									অর্থ প্রাপ্তি
								</a>
							</li>
							<li class="nav-item">
								<a href="gov_cash_return.php"
									class="nav-link">
									অর্থ ফেরত
								</a>
							</li>
							<li class="nav-item">
								<a href="gov_cash_distribute.php"
									class="nav-link">
									অর্থ বিতরণ
								</a>
							</li>
							<li class="nav-item">
								<a href="gov_expense.php"
									class="nav-link">
									ব্যয়ের হিসাব
								</a>
							</li>
						</ul>
					</li>
					<!-- <li class="nav-item">
						<a href="javascript:;" class="nav-link nav-toggle">
							<span class="title">Red Crescent Account</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li class="nav-item">
								<a href="red_manage_account.php"
									class="nav-link">
									Manage Account
								</a>
							</li>
							<li class="nav-item">
								<a href="red_cash_receive.php"
									class="nav-link">
									Cash Receive
								</a>
							</li>
							<li class="nav-item">
								<a href="red_cash_return.php"
									class="nav-link">
									Cash Return
								</a>
							</li>
							<li class="nav-item">
								<a href="red_cash_distribute.php"
									class="nav-link">
									Cash Distribute
								</a>
							</li>
							<li class="nav-item">
								<a href="red_expense.php"
									class="nav-link">
									Expense
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item  ">
						<a href="javascript:;" class="nav-link nav-toggle">
							<span class="title">Project Accounts</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li class="nav-item">
								<a href="prj_manage_account_list.php"
									class="nav-link">
									Manage Account
								</a>
							</li>
							<li class="nav-item">
								<a href="prj_cash_receive.php"
									class="nav-link">
									Cash Receive
								</a>
							</li>
							<li class="nav-item">
								<a href="prj_cash_return.php"
									class="nav-link">
									Cash Return
								</a>
							</li>
							<li class="nav-item">
								<a href="prj_cash_distribute.php"
									class="nav-link">
									Cash Distribute
								</a>
							</li>
							<li class="nav-item">
								<a href="prj_expense.php"
									class="nav-link">
									Expense
								</a>
							</li>
						</ul>
					</li> -->
					<!-- <li class="nav-item start">
						<a href="cash_receive.php" class="nav-link">
							<span class="title">Cash Receive</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="cash_return.php" class="nav-link">
							<span class="title">Cash Return</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="cash_distribute.php" class="nav-link">
							<span class="title">Cash Distribute</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="expense.php" class="nav-link">
							<span class="title">Expense</span>
						</a>
					</li> -->
				</ul>
			</li>
			<li id="report" class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">প্রতিবেদন</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="Javascript:void(0);" class="nav-link">
							<span class="title">Accounting Reports</span>
							<span class="selected"></span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
