<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner ">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="../index.php" class="topbar-cpp">CPP - Accounting HQ</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a
			href="javascript:;"
			class="menu-toggler responsive-toggler"
			data-toggle="collapse"
			data-target=".navbar-collapse"
		>
			<span></span>
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
				<!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
				<!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
				<li
					class="dropdown dropdown-extended dropdown-notification"
					id="header_notification_bar"
				>
					<a
						href="javascript:;"
						class="dropdown-toggle"
						data-toggle="dropdown"
						data-hover="dropdown"
						data-close-others="true"
					>
						<i class="icon-bell"></i>
						<span class="badge badge-default"> 4 </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3>
								<span class="bold">4 pending</span>
								notifications
							</h3>
							<a href="#">view all</a>
						</li>
						<li>
							<ul
								class="dropdown-menu-list scroller"
								style="height: 250px;"
								data-handle-color="#637283">
								<li>
									<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
											<span
												class="label label-sm label-icon label-success"
											>
												<i class="fa fa-plus"></i>
											</span>
											Voucher from Cox's Bazar
										</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
											<span
												class="label label-sm label-icon label-success"
											>
												<i class="fa fa-plus"></i>
											</span>
											Voucher From Khulna
										</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
											<span
												class="label label-sm label-icon label-success"
											>
												<i class="fa fa-plus"></i>
											</span>
											Voucher from Rajshahi
										</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
											<span
												class="label label-sm label-icon label-success"
											>
												<i class="fa fa-plus"></i>
											</span>
											Voucher from Kushtia
										</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
				<!-- BEGIN INBOX DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li
					class="dropdown dropdown-extended dropdown-inbox"
					id="header_inbox_bar"
				>
					<a
						href="javascript:;"
						class="dropdown-toggle"
						data-toggle="dropdown"
						data-hover="dropdown"
						data-close-others="true"
					>
						<i class="icon-envelope-open"></i>
						<span class="badge badge-default"> 3 </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3>
								You have
								<span class="bold">3 New</span> Messages
							</h3>
							<a href="#">view all</a>
						</li>
						<li>
							<ul
								class="dropdown-menu-list scroller"
								style="height: 275px;"
								data-handle-color="#637283"
							>
								<li>
									<a href="#">
										<span class="photo">
											<img
												src="../assets/layouts/layout3/img/avatar1.jpg"
												class="img-circle"
												alt=""
											/>
										</span>
										<span class="subject">
											<span class="from"> Md. Rahim </span>
											<span class="time">Just Now </span>
										</span>
										<span class="message">
											Bhola station, Barisal Zone
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img
												src="../assets/layouts/layout3/img/avatar1.jpg"
												class="img-circle"
												alt=""
											/>
										</span>
										<span class="subject">
											<span class="from">Md. Karim</span>
											<span class="time">16 mins </span>
										</span>
										<span class="message">
											Fakirhat station, Khulna Zone
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img
												src="../assets/layouts/layout3/img/avatar1.jpg"
												class="img-circle"
												alt=""
											/>
										</span>
										<span class="subject">
											<span class="from">Md. Jashim</span>
											<span class="time">2 hrs </span>
										</span>
										<span class="message">
											Bhola station, Barisal Zone
										</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- END INBOX DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a
						href="javascript:;"
						class="dropdown-toggle"
						data-toggle="dropdown"
						data-hover="dropdown"
						data-close-others="true"
					>
						<img
							alt=""
							class="img-circle"
							src="../assets/layouts/layout/img/avatar3_small.jpg"
						/>
						<span class="username username-hide-on-mobile">
							Shihab
						</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="page_user_profile_1.html">
								<i class="icon-user"></i> Profile
							</a>
						</li>
						<li>
							<a href="app_inbox.html">
								<i class="icon-envelope-open"></i> Inbox
								<span class="badge badge-danger"> 3 </span>
							</a>
						</li>
						<li>
							<a href="app_todo.html">
								<i class="icon-rocket"></i> Notifications
								<span class="badge badge-success"> 4 </span>
							</a>
						</li>
						<li class="divider"></li>
						<!-- <li>
							<a href="page_user_lock_1.html">
								<i class="icon-lock"></i> Lock Screen
							</a>
						</li> -->
						<li>
							<a href="page_user_login_1.html">
								<i class="icon-key"></i> Log Out
							</a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
