<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul
			class="page-sidebar-menu  page-header-fixed "
			data-keep-expanded="false"
			data-auto-scroll="true"
			data-slide-speed="200"
			style="padding-top: 20px"
		>
			<li class="heading">
				<h3 class="uppercase">দাপ্তরিক</h3>
			</li>
			<li id="menu_admin" class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">প্রশাসন</span>
					<span class="selected"></span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="user.php" class="nav-link ">
							<span class="title">ব্যবহারকারী</span>
							<span class="selected"></span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="hq.php" class="nav-link ">
							<span class="title">সদর দফতর</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="zone.php" class="nav-link ">
							<span class="title">জোন</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="upazila.php" class="nav-link ">
							<span class="title">স্টেশন</span>
						</a>
					</li>
					<!-- <li class="nav-item start">
						<a href="govt.php" class="nav-link ">
							<span class="title">Government</span>
						</a>
					</li> -->
					<!-- <li class="nav-item start">
						<a href="rc.php" class="nav-link ">
							<span class="title">Red Crescent</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="prj.php" class="nav-link ">
							<span class="title">Project</span>
						</a>
					</li> -->
				</ul>
			</li>
			<!-- <li id="menu_acct" class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Accounting</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="head.php" class="nav-link ">
							<span class="title">Head</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="subhead.php" class="nav-link ">
							<span class="title">Subhead</span>

						</a>
					</li>
					<li class="nav-item start">
						<a href="cash_receive.php" class="nav-link ">
							<span class="title">Cash Receive</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="cash_return.php" class="nav-link ">
							<span class="title">Cash Return</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="cash_distribute.php" class="nav-link ">
							<span class="title">Cash Distribute</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="expense.php" class="nav-link ">
							<span class="title">Expense</span>
						</a>
					</li>
				</ul>
			</li>
			<li id="menu_inv" class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Inventory</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="category.php" class="nav-link ">
							<span class="title">Category</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="unit.php" class="nav-link ">
							<span class="title">Unit</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="products.php" class="nav-link ">
							<span class="title">Products</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="receive.php" class="nav-link ">
							<span class="title">Purchase/Receive</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="distribution.php" class="nav-link ">
							<span class="title">Distribution</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="loss.php" class="nav-link ">
							<span class="title">Loss/Destroy/Expired</span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="stock.php" class="nav-link ">
							<span class="title">Stock</span>
						</a>
					</li>
				</ul>
			</li> -->
			<!-- <li class="nav-item start">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Reports</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start">
						<a href="accounting_reports.php" class="nav-link">
							<span class="title">Accounting Reports</span>
							<span class="selected"></span>
						</a>
					</li>
					<li class="nav-item start">
						<a href="inventory_reports.php" class="nav-link">
							<span class="title">Inventory Reports</span>
						</a>
					</li>
				</ul>
			</li> -->
			<li class="heading">
				<h3 class="uppercase">ব্যক্তিগত</h3>
			</li>
			<li id="menu_profile" class="nav-item start">
				<a href="profile.php" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">ব্যবহারকারীর বিস্তারিত তথ্য</span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
